/*
    PALETTE COULEUR A UTLISER 

        * couleur principal : #bc9667;
        * second color : #edeae3;
        * text color : #1b1b1b;
        * background color: #fff;

        *box shadow : 2px 2px 10px 4px rgb(14 55 54 / 15%);
*/

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Poppins:wght@500&display=swap');

*{
    font-family: 'Poppins',sans-serif;
    margin:0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 4rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}

body{
    color:#000000;
    background: rgb(255, 255, 255);
}

img{
    width: 100%;
}
header{
    position : fixed;
    width: 100%;
    top:0;
    right:0;
    z-index:1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding :10px 100px;
    transition:1s linear;
    background: rgb(253 253 253 / 7%);
}
.sct-nav-title img{
    width: 65px;
}

.sct-navbar{
    display: flex;
}

.sct-navbar a{
    padding: 8px 17px;
    color: rgb(0, 0, 0);
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
}
.sct-navbar a:hover{
    background: #89c1b2;
    border-radius: 0.2rem;
    transition: 1.0s all;
}
.sct-header_icon{
    font-size: 20px;
    cursor:pointer;
    z-index:10000;
    display: flex;
    column-gap: 0.8rem;
}
.sct-header_icon .bx{
    color:rgb(0, 0, 0);
}
.sct-principal-p-img{
    width: 105%;
    margin-right: 50px;
}
.barre_nav-icon .bx:hover{
    background:#000000;
    color:rgb(255, 255, 255);
}
#menu-icon{
    color:rgb(0, 0, 0);
    font-size:24px;
    z-index:100001;
    cursor:pointer;
    display:none;
}
section{
    padding:50px;
}
.sct-principal-page{
    width:100%;
    min-height: 100vh;
    background:url('https://wallpapercave.com/wp/wp9274667.jpg');
    background-repeat: no-repeat;
    background-position: center;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(17rem,auto));
    align-items: center;
    gap:1.5rem;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.sct-principal-p-text h1{
    font-size: 3.4rem;
    color: #000000;
    text-transform: uppercase;
}
.sct-principal-p-text p{
    font-size: 0.9rem;
    color:rgb(0, 0, 0);
    margin: 0.5rem 0 1.4rem;
}
.sct-body_button{
    margin-top: 35%;
    padding:10px 40px;
    border-radius: 0.3rem;
    background: #ffffff;
    color:rgb(0, 0, 0);
    font-weight: 500;
}
.sct-body_button:hover{
    background:#89c1b2;
    color:#000;
    transition: 0.4s;
}
.sct-p-selection-conv{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(17rem,auto));
    align-items: center;
    gap:1.5rem;
    background-color: black;

}
.sct-p-selection-conv-img img{
    border-radius: 15%;
}
.sct-p-selection-conv-txt h2{
    font-size: 1.8rem;
    text-transform: uppercase;
    color:rgb(255, 255, 255);
}
.sct-p-selection-conv-txt p{
    font-size: 0.9rem;
    margin:0.5rem 0 1.1rem;
    color:rgb(255, 255, 255);
}
.sct-p-convertion-title h2{
    font-size: 1.8rem;
    text-transform: uppercase;
    text-align: center;
}
.sct-p-convertion{
    background-color: black;
}
.sct-p-convertion-container{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(17rem,auto));
    gap:1.5rem;
    margin-top:2rem;
}
.sct-p-convertion-container .sct-p-convertion-card{
    position: relative;
    padding:10px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0.5rem;
}
.sct-p-convertion-container .sct-p-convertion-card:hover{
    box-shadow: #fff;
}


.sct-p-convertion-container img{
    width: 100%;
    height: 250px;
    object-fit: contain;
    object-position: center;
    padding:20px;
    border-radius: 5%;
}
.sct-p-convertion-container .sct-p-convertion-card .img{
    border-radius: 15px;
}
.sct-p-convertion-container .sct-p-convertion-card h3{
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin:0.5rem 0 0.5rem;
    text-align: center;

}
.sct-p-convertion-container .sct-p-convertion-card .sct-p-convertion-btn{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.sct-p-convertion-container.sct-p-convertion-card .sct-p-convertion-btn span{
    padding: 10px 40px;
    color:#fff;
    background-color: #89c1b2;
    border:4px;
    font-weight: 500;
}

.sct-p-convertion-container .sct-p-convertion-card .sct-p-convertion-btn a{
    padding: 0 1rem;
    color:#1b1b1b;
    background-color: #89c1b2;
    border:4px;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 25px;
}

.sct-p-convertion-container .sct-p-convertion-card .sct-p-convertion-btn a:hover{
    background: #ffffff;
    color:rgb(0, 0, 0);
    transition: 1s all linear;
}
.sct-p-footer{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,auto));
    gap:1.5rem;
    background-color: #000;
}
.sct-p-footer-box h2{
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.sct-p-footer-box p{
    font-size: 0.9rem;
    margin-bottom: 10px;
}
.sct-p-footer-social-btn{
    display: flex;
    align-items:center;
    column-gap: 0.5rem;
}

.sct-p-footer-social-btn a .bx{
    font-size: 24px;
    color:#fff;
    padding: 10px;
    background: #edeae3;
    border-radius: 0.2rem;
}
.sct-p-footer-social-btn a .bx:hover{
    background: #bc9667;
    color:#fff;
}
.sct-p-footer-box h3{
    font-weight: 600;
    margin-bottom: 10px;
}
.sct-p-footer-box li a{
    color:#fff;
}
.sct-p-footer-box li a:hover{
    color:#bc9667;
}

@media (max-width: 1058px){
    header{
        padding:16px 60px;
    }
    section{
        padding: 50px 60px;
    }
    .sct-principal-p-text h1{
        font-size: 2.4rem;
    }
}

@media (max-width: 768px){
    header{
        padding:20px 4%; 
    }
    .sct-principal-p-text h1{
        visibility: hidden;
    }
    #menu-icon{
        display: initial;
    }
    .sct-navbar{
        position: absolute;
        top: -570px;
        left:0;
        right:0;
        display: flex;
        flex-direction: column;
        background: #edeae3;
        row-gap: 1.4rem;
        padding: 20px;
        transition: 0.5s;
        text-align: center;
    }
    .sct-navbar a{
        color:#fff;
    }
    .sct-navbar a:hover{
        color:#bc9667;
    }
    .sct-navbar.active{
        top:100%;
    }
    .sct-p-selection-conv{
        align-items:center;
    }
}
@media (max-width: 360px){
    header{
        padding:9px 4%;
    }
    .sct-nav-title img{
        width:45px;
    }
    .sct-principal-p-text{
        padding-top: 15px;
    }
    .sct-principal-p-text h1{
        font-size:1.4rem;
    }
    .sct-principal-p-text p{
        font-size: 0.8rem;
        font-weight: 300;
    }
    .sct-p-selection-conv-img{
        order:2;
    }
    .about-text{
        text-align: center;
    }
    .about-text h2{
        font-size: 1.2rem;
    }
    .sct-p-convertion-title h2{
        font-size: 1.2rem;
    }
}

  
  .button {
    font-size: 1em;
    padding: 10px;
    color: #fff;
    border: 2px solid #06D85F;
    border-radius: 20px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
  }
  .button:hover {
    background: #06D85F;
  }
  
  .out-sct-cover-screen {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .out-sct-cover-screen:target {
    visibility: visible;
    opacity: 1;
  }
  
  .out-type-popup-video {
    margin: 150px auto;
    padding: 20px;
    background: rgb(0, 0, 0);
    border-radius: 5px;
    width: 65%;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .out-type-popup-video h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .out-type-popup-video .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .out-type-popup-video .close:hover {
    color: #06D85F;
  }
  .out-type-popup-video .sct-p-convertion-btn {
    max-height: 30%;
    overflow: auto;
  }
  
  @media screen and (max-width: 700px){
    .box{
      width: 70%;
    }
    .out-type-popup-video{
      width: 70%;
    }
  }
  input[type="file"] {
    display: none;
}
input[type="submit"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid rgb(0, 0, 0);
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}
.custom-file-upload :hover {
    background: #000;
    color: #fff;
}
