<!DOCTYPE html>
<html lang="fr">
<head>
    <!--
        Les Métadonnées
        * Utilisation de UFT-8 : Codage de Caractères informatique
        * viewport : Adaptation de taille d'écran
    -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--
        * Titre du Template
        * Lien vers le CSS (Feuille de style cascades)
    -->
    <title>BRESTOR</title>
    <link rel="stylesheet" href="css/style.css">
    <!-- Import :
        * Boxicon :
        * FontAwesome
    -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
</head>
<body>
    <!-- Début du Header -->
    <header>
            <a href="index.html" class="sct-nav-title">
                <img src="logo.png" alt="">
            </a>

            <i class="bx bx-menu" id="menu-icon"></i>

            <ul class="sct-navbar">
                <li><a href="#home">Acceuil</a></li>
                <li><a href="#about">Convertion</a></li>
                <li><a href="#products">Information</a></li>
                <li><a href="#home">Contacter</a></li>
            </ul>
            <div class="sct-header_icon">
                <!--Lien vers github dans une nouvelle page-->
                <a href="https://github.com/BresThomas/SAE2" target="_blank"><i class='bx bxl-github'></i></a>
                <a href="#popup1" id="btn"><i class='bx bxs-help-circle'></i></a>
            </div>
    </header>
    <!-- Fin du Header -->
        <section class="sct-principal-page" id="home">
            <div class="sct-principal-p-text">
                <h1>BMPCONVERTOR</h1>
                <p> Bmpconvertor vous offre un convertisseur bmp puissant qui vous permet de conserver vos photos préférées aux différents filtres que vous désirez. Pas besoin de plusieurs outils pour convertir votre image en bmp. D'autre part, Bmpconvertor utilise les toutes dernières technologies et devient le numéro 1 des images au format .bmp, compatible sur tous les appareils comme les smartphones, tablettes, ordinateurs. En effet, sobre et simple à utiliser, ce convertisseur bmp a été créé par l'équipe du département inforatique à l'IUT Nice Côté d'azur. 
                </p>
                <a href="#products" class="sct-body_button">Convertir </a>
            </div>
            <div class="sct-principal-p-img">
                <img src="../camera.jpg" alt="">
                  
            </div>
        </section>

        <section class="sct-p-convertion" id="products">
            <div class="sct-p-convertion-title">
                <h2>Nos types de convertions</h2>
            </div>
            <div class="sct-p-convertion-container">
                <div class="sct-p-convertion-card">
                    <img src="https://media.cdnws.com/_i/50025/2/797/2/500x500.jpeg" alt="">
                    <h3>Filtre : Niveaux de gris</h3>
                    <div class="sct-p-convertion-btn">
                        <a href="#convertion1">Choisir ce Filtre</a>
                    </div>
                </div>
                <div class="sct-p-convertion-card">
                    <img src="https://media.cdnws.com/_i/50025/2/797/2/500x500.jpeg" alt="">
                    <h3>Filtre : Inversion des couleurs</h3>
                    <div class="sct-p-convertion-btn">
                        <a href="#convertion2">Choisir ce Filtre</a>
                    </div>
                </div>
                <div class="sct-p-convertion-card">
                    <img src="https://media.cdnws.com/_i/50025/2/797/2/500x500.jpeg" alt="">
                    <h3>Filtre : Image monochrome </h3>
                    <div class="sct-p-convertion-btn">
                        <a href="#convertion3">Choisir ce Filtre</a>
                    </div>
                </div>
                <div class="sct-p-convertion-card">
                    <img src="https://media.cdnws.com/_i/50025/2/797/2/500x500.jpeg" alt="">
                    <h3>Filtre : Extraction de contours </h3>
                    <div class="sct-p-convertion-btn">
                        <a href="#convertion4">Choisir ce Filtre</a>
                    </div>
                </div>
            </div>
        </section>

        <section class="sct-p-selection-conv" id="convertion1">
            <div class="sct-p-selection-conv-img">
                <img src="https://www.kibrispdr.org/data/1755/anime-desktop-wallpaper-gif-6.gif" alt="">
            </div>
            <div class="sct-p-selection-conv-txt">
                <h2>Convertion 1</h2>
                <p> Bmpconvertor vous offre un convertisseur bmp puissant qui vous permet de conserver vos photos préférées aux différents filtres que vous désirez. Pas besoin de plusieurs outils pour convertir votre image en bmp. D'autre part, Bmpconvertor utilise les toutes dernières technologies et devient le numéro 1 des images au format .bmp, compatible sur tous les appareils comme les smartphones, tablettes, ordinateurs. En effet, sobre et simple à utiliser, ce convertisseur bmp a été créé par l'équipe du département inforatique à l'IUT Nice Côté d'azur. 
                </p>
                <a href="#" class="sct-body_button">Choisir le dossier</a>
            </div>
        </section>

        <section class="sct-p-selection-conv" id="convertion2">
            <div class="sct-p-selection-conv-txt">
                <h2>Convertion 2</h2>
                <p> Bmpconvertor vous offre un convertisseur bmp puissant qui vous permet de conserver vos photos préférées aux différents filtres que vous désirez. Pas besoin de plusieurs outils pour convertir votre image en bmp. D'autre part, Bmpconvertor utilise les toutes dernières technologies et devient le numéro 1 des images au format .bmp, compatible sur tous les appareils comme les smartphones, tablettes, ordinateurs. En effet, sobre et simple à utiliser, ce convertisseur bmp a été créé par l'équipe du département inforatique à l'IUT Nice Côté d'azur. 
                </p>
                    <a href="#" class="sct-body_button">Choisir le dossier</a>
            </div>
            <div class="sct-p-selection-conv-img">
                <img src="https://www.kibrispdr.org/data/1755/anime-desktop-wallpaper-gif-6.gif" alt="">
            </div>
        </section>
        <section class="sct-p-selection-conv" id="about">
            <div class="sct-p-selection-conv-img">
                <img src="https://www.kibrispdr.org/data/1755/anime-desktop-wallpaper-gif-6.gif" alt="">
            </div>
            <div class="sct-p-selection-conv-txt" id="convertion3">
                <h2>Convertion 1</h2>
                <p> Bmpconvertor vous offre un convertisseur bmp puissant qui vous permet de conserver vos photos préférées aux différents filtres que vous désirez. Pas besoin de plusieurs outils pour convertir votre image en bmp. D'autre part, Bmpconvertor utilise les toutes dernières technologies et devient le numéro 1 des images au format .bmp, compatible sur tous les appareils comme les smartphones, tablettes, ordinateurs. En effet, sobre et simple à utiliser, ce convertisseur bmp a été créé par l'équipe du département inforatique à l'IUT Nice Côté d'azur. 
                </p>
                <a href="#" class="sct-body_button">Choisir le dossier</a>
            </div>
        </section>

        <section class="sct-p-selection-conv" id="convertion4">
            <div class="sct-p-selection-conv-txt">
                <h2>Convertion 2</h2>
                <p> Bmpconvertor vous offre un convertisseur bmp puissant qui vous permet de conserver vos photos préférées aux différents filtres que vous désirez. Pas besoin de plusieurs outils pour convertir votre image en bmp. D'autre part, Bmpconvertor utilise les toutes dernières technologies et devient le numéro 1 des images au format .bmp, compatible sur tous les appareils comme les smartphones, tablettes, ordinateurs. En effet, sobre et simple à utiliser, ce convertisseur bmp a été créé par l'équipe du département inforatique à l'IUT Nice Côté d'azur. 
                </p>
                
                <a href="#" class="sct-body_button">Choisir le dossier</a>
            </div>
            <div class="sct-p-selection-conv-img">
                <img src="https://www.kibrispdr.org/data/1755/anime-desktop-wallpaper-gif-6.gif" alt="">
            </div>
        </section>

        <section class="sct-p-footer">
            <div class="sct-p-footer-box">
                <h2>BRESTOR CONVERTOR</h2>
                <p> Le convertisseur détestée par thomas bres !! <br>Pour rendre hommage à cette personnes nous avons emprunter son nom de famille sans son accord. Veuillez ne pas déclarer. Merci ! Brestor </p>
                <div class="sct-p-footer-social-btn">
                    <a href="#"><i class="bx bx1-github"></i></a>
                    <a href="#"><i class="bx bx1-discord"></i></a>
                    <a href="#"><i class="bx bx1-instagram"></i></a>
                    <a href="#"><i class="bx bx1-twitter"></i></a>
                </div>
            </div>
            <div class="sct-p-footer-box">
                <h2>Aides et Licences</h2>
                <li><a href="#">Guide D'utilisation</a></li>
                <li><a href="#">Licenses</a></li>
                <li><a href="#">Les créateurs</a></li>
                <li><a href="#">Sources Codes</a></li> 
            </div>
            <div class="sct-p-footer-box">
                <h2>Aides et Licences</h2>
                <li><a href="#">Guide D'utilisation</a></li>
                <li><a href="#">Licenses</a></li>
                <li><a href="#">Les créateurs</a></li>
                <li><a href="#">Sources Codes</a></li> 
            </div>
            <div class="sct-p-footer-box">
                <h2>Aides et Licences</h2>
                <li><a href="#">Guide D'utilisation</a></li>
                <li><a href="#">Licenses</a></li>
                <li><a href="#">Les créateurs</a></li>
                <li><a href="#">Sources Codes</a></li> 
            </div>
        </section>
        <div id="popup1" class="out-sct-cover-screen">
            <div class="out-type-popup-video">
                <a class="close" href="#">&times;</a>
                <div class="sct-p-convertion-btn">
                    <iframe width="860" height="500" src="https://www.youtube.com/embed/NdxiZuEU8-w?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
</body>
</html>